<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Usuário</title>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>	
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/brewer.css}"/>
</head>
<body>
	<div class="aw-layout-page">
		<div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>
		<div th:replace="layout/fragments/MenuLateral :: sidebar"></div>		
		
		<section class="aw-layout-content  js-content">
			<div class="page-header">
				<div class="container-fluid">
					<h1>Cadastro de Cliente</h1>
				</div>
			</div>
			
			<div class="container-fluid">

			
				<form method="POST" th:object="${cerveja}"
					class="form-vertical  js-form-loading">

					<div class="row">
						<div class="col-lg-9 col-sm-9 form-group">
							<label for="nome">Nome</label> 
							<input id="nome" type="text" class="form-control" />
						</div>
					</div>

					<div class="row">
						<div class="col-lg-3 col-sm-3  form-group">
							<label for="email">Email</label>
							<input id="email" type="text" class="form-control">
						</div>

						<div class="col-lg-6 col-sm-6  form-group">
							<label for="datanascimento">Data de Nascimento:</label>
							<input id="datanascimento" type="text" class="form-control" />
						</div>

					</div>

					<div class="row">
						<div class="col-sm-3 form-group">
							<label for="senha">Senha</label>
							<input id="senha" type="text" class="form-control">						
						</div>					
						
						<div class="col-sm-3 form-group">
							<label for="confirmasenha">Confirmação Senha</label>
							<input id="confirmasenha" type="text" class="form-control">						
						</div>	
						<div class="col-sm-3 form-group">
							<label for="status" class="control-label">Status</label>
							
								<div class="checkbox ">
								<input type="checkbox">		
								<label>Ativo</label>	
								</div>
																
						</div>					
					</div>
					
						<div class="row">
							<div class="col-sm-6 form-group">
								<label for="grupos" class="control-label">Grupos</label>
								<div>
									<div class="checkbox checkbox-inline">
										<input type="checkbox">
										<label>Administrador</label>
									</div>
									<div class="checkbox checkbox-inline">
										<input type="checkbox">
										<label>Vendedor</label>
									</div>									
								</div>	
							</div>			
						
						
										
					</div>
					

			


					<div class="form-group">
						<button class="btn  btn-primary" type="submit">Salvar</button>
					</div>

				</form>
			</div>
		</section>
		
		<div th:replace="" ></div>
	</div>
</body>
</html>